body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

/*these classes control which mode is visible
   master/editing are which mode the app is in
   off/on are which type of control this element is visible in*/
.master.off {
	display: none;
}

.master.on {
	display: block;
}

text.editing.off {
	display: block;
}
name.editing.off {
	display: block;
}
btn.editing.off {
	display: inline;
}

.editing.on {
	display: none;
}

/*these classes are for proper sizing and spacing*/
.title {
	width: 600px;
	padding: 5px;
}

.note {
	padding: 3px;
}