body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.status {
  margin-bottom: 2px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.master.off {
	display: none;
}

.master.on {
	display: block;
}

text.editing.off {
	display: block;
}
name.editing.off {
	display: block;
}
btn.editing.off {
	display: inline;
}

.editing.on {
	display: none;
}

.title {
	width: 600px;
}